@section title {
    Accueil
}

@section styles {
    <link rel="stylesheet" href="~/styles/home.css" />
}

<div class="banner">
    <div class="white-container">
        <div class="container">
            <div class="flex-container">
                <div class="logo">
                    <img src="~/media/logo.svg" />
                </div>
                <div class="present">
                    <h2>Trululu</h2>
                    <p class="small-text">Et ton talent devient ton emplois</p>
                </div>
            </div>
        </div>
    </div>
</div>